/*Yazmin Alfaro 9/18/24 */
h1 {
    background-color:#29485d;
        color:#FFFFFF;
    margin-bottom: 0;
}

nav {
    background-color:#C6D02F;
}

h2 {
    color:#407386;
}

dl {
    color:#0194B5;
}

.web {
    font-weight: bold;
    color:#0194B5;
}

body {
    background-color:#FFFFFF;
    color:#555555;
}
